<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

<context:annotation-config/>

<!-- 配置sessionFactory -->
    <bean  id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="configLocation">
    		<value>classpath:hibernate.cfg.xml</value>
    	</property>
    </bean>
    
	<bean id="userService" class="com.hunter.huanqiu.service.impl.UserServiceImpl"/>
	<bean id="companyService" class="com.hunter.huanqiu.service.impl.CompanyServiceImpl" />
	<bean id="recordService" class="com.hunter.huanqiu.service.impl.RecordServiceImpl"/>
	<bean id="contractService" class="com.hunter.huanqiu.service.impl.ContractServiceImpl"/>
	<bean id="billService" class="com.hunter.huanqiu.service.impl.BillServiceImpl"/>
	<bean id="employeeService" class="com.hunter.huanqiu.service.impl.EmployeeServiceImpl"/>
	<bean id="resumeService" class="com.hunter.huanqiu.service.impl.ResumeServiceImpl"/>
	<bean id="memoService" class="com.hunter.huanqiu.service.impl.MemoServiceImpl"/>
	<bean id="loginManager" class="com.hunter.huanqiu.manager.LoginManager">
		<property name="userService" ref="userService"/>
		<property name="companyService" ref="companyService"/>
		<property name="recordService" ref="recordService"/>
	</bean>
	<bean id="userManager" class="com.hunter.huanqiu.manager.UserManager" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="companyManager" class="com.hunter.huanqiu.manager.CompanyMananger" scope="prototype">
		<property name="recordService" ref="recordService"/>
		<property name="companyService" ref="companyService"/>
		<property name="userService" ref="userService"/>
		<property name="contractService" ref="contractService"/>
		<property name="billService" ref="billService"/>
	</bean>
	<bean id="employeeManager" class="com.hunter.huanqiu.manager.EmployeeManager" scope="prototype">
		<property name="recordService" ref="recordService"/>
		<property name="employeeService" ref="employeeService"/>
		<property name="resumeService" ref="resumeService"/>
	</bean>
	<bean id="memoManager" class="com.hunter.huanqiu.manager.MemoManager"  scope="prototype">
		<property name="employeeService" ref="employeeService"/>
		<property name="memoService" ref="memoService"/>
	</bean>
<!-- 配置事务管理器 -->
<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<tx:annotation-driven transaction-manager="txManager"/>
</beans>
